bin
obj
csx
.vs
.DS_Store
.vscode

*.user
*.suo
*.cscfg
*.Cache

/packages
/TestResults
/buildoutput

/tools/NuGet.exe
/test/Microsoft.Azure.Webjobs.Extensions.Storage.UnitTests/Properties/launchSettings.json
