version: 3.0.{build}
init:
- ps: | 
    if ($env:FUNCTIONS_NIGHTLY -eq "1") {
      $version = Get-Date -Format "yyyyMMdd-HHmm"
      Update-AppveyorBuild -Version $version -Message "Functions Scheduled Build"
    }
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - dev
  - master
  - next
image: Visual Studio 2017
install:
- ps: >-
    $env:CommitHash = "$env:APPVEYOR_REPO_COMMIT"
cache: '%USERPROFILE%\.nuget\packages'
build_script:
- cmd: IF "%APPVEYOR_REPO_TAG_NAME%"=="" SET BuildNumber=%APPVEYOR_BUILD_NUMBER%
- ps: >
    .\build.ps1 -buildNumber "$env:BuildNumber"
test_script:
- ps: >-
    $success = $true

    dotnet test .\test\Microsoft.Azure.WebJobs.Host.UnitTests\ -v q --no-build

    $success = $success -and $?

    dotnet test .\test\Microsoft.Azure.WebJobs.Host.FunctionalTests\ -v q --no-build

    $success = $success -and $?

    dotnet test .\test\Microsoft.Azure.WebJobs.Logging.FunctionalTests\ -v q --no-build

    $success = $success -and $?

    # see results in app insights AntaresDemo 'functionse2eai'

    dotnet test .\test\Microsoft.Azure.WebJobs.Host.EndToEndTests\ -v q --no-build

    $success = $success -and $?

    dotnet test .\test\Microsoft.Azure.WebJobs.EventHubs.UnitTests\ -v q --no-build

    $success = $success -and $?

    if (-not $success) { exit 1 }
artifacts:
- path: buildoutput\*.nupkg
  name: Binaries
